/* =============
    DEFAULTS
============== */

:root {
  /* variables */
  --white: #ffffff;
  --grey-50: #f4f4f4;
  --grey-100: #e9e9e9;
  --grey-150: #757575;
  --grey-200: #3a3a3a;
  --grey-250: #2d2d2d;
  --grey-300: #1f1f1f;
  --grey-350: #050505;
  --error: #ff5252;
  --brand: #a445ed;
  --inter: "Inter", serif;
  --lora: "Lora", serif;
  --inconsolata: "Inconsolata", serif;
  --current-font: "Inter", serif;
  --heading-l: 700 64px;
  --heading-l-mobile: 700 2rem;
  --heading-m: 400 1.5rem;
  --heading-m-mobile: 400 1.125rem;
  --heading-s: 400 1.25rem;
  --heading-s-mobile: 400 1rem;
  --body-m: 400 1.125rem/1.5rem;
  --body-m-mobile: 400 0.875rem/1.5rem;
  --body-s: 400 0.875rem;

  /* Allows body to grow as needed, unrestricted */
  height: 100%;

  /*Enables support for the light-dark() function, so we can specify colors for things for both light and dark theme context.*/
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  /* I like to space things using only bottom margin. Feels cleaner than doing a mix of bottom/top.*/
  margin-top: 0;
}

body {
  margin: 0;
  height: 100%;
  font: var(--body-m-mobile) var(--current-fontd);
  color: var(--grey-250);
}

/* =============
    TYPOGROPHY
============== */

.serif {
  font-family: var(--lora);
}

.sans {
  font-family: var(--inter);
}

.mono {
  font-family: var(--inconsolata);
}

.search-input {
  font: var(--heading-s-mobile) var(--current-font);
}

.searched-word {
  font: var(--heading-l-mobile) var(--current-font);
}

.searched-word-phonetic {
  font: var(--heading-m-mobile) var(--inter);
  color: var(--brand);
}

.part-of-speech {
  font: var(--heading-m-mobile) var(--current-font);
}

.meaning-list-title,
.synonym-list-title {
  font: var(--heading-s-mobile) var(--current-font);
  color: var(--grey-150);
  text-transform: capitalize;
}

.synonym {
  font: var(--heading-s-mobile) var(--current-font);
  color: var(--brand);
}

.meaning-list-item-example {
  color: var(--grey-150);
}

.current-font,
.serif,
.sans,
.mono,
.search-input,
.part-of-speech,
.synonym {
  font-weight: 700;
}

/* =============
    LAYOUT
============== */

.container {
  padding: 1.5em;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

.word-info {
  display: none;
}

.source-list-title {
  display: none;
}

.source-list {
  display: none;
}

.light-dark-toggle {
  display: flex;
  gap: 0.75em;
}

.toggle-container {
  display: flex;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--grey-150);
  padding: 3px;
  cursor: pointer;
}

.toggle-switch {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
}

.toggle-icon {
}
